@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;600&family=Titillium+Web:wght@300;400;600&family=Ubuntu:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body {
    background-image: url(./images/doctor-wallpaper.jpg);
    background-size: 100%;
}

.heading00 {
    text-align: center;
}

.heading00 h1 {
    font-size: 60px;
    font-weight: 1600;
}

.top-container {
    margin-top: 15px;
    margin-left: 20px;
}

.back-arrow a {
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    color: black;
    background-color: lightseagreen;
    border-radius: 30px;
}

.back-arrow a:hover {
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 30px;
}

.main-img {
    display: flex;
    justify-content: space-evenly;
    margin-left: 15px;
}

.img1:hover,
.img2:hover,
.img3:hover,
.img4:hover {
    transition-duration: 0.8s;
    transform: scale(1.1);
}

.chef-heading {
    text-align: center;
    margin-top: 70px;
}

.chef-heading h1 {
    font-size: 60px;
    background-color: white;
    padding: 17px;
    border-radius: 20px;
}

.chef {
    background-color: lightseagreen;
    height: 1300px;
    width: 80%;
    margin-left: 150px;
    border-radius: 20px;
}

.icons {
    background-color: white;
    border-radius: 12px;
}

.chef1 {
    background-color: skyblue;
    border-color: black;
    border-radius: 12px;
    border: 1px solid black;
    position: relative;
    top: 100px;
    width: 230px;
    height: 300px;
}

.chef2 {
    background-color: skyblue;
    border-color: black;
    border-radius: 12px;
    border: 1px solid black;
    position: relative;
    top: 100px;
    width: 230px;
    height: 300px;
}

.chef3 {
    background-color: skyblue;
    border-color: black;
    border-radius: 12px;
    border: 1px solid black;
    position: relative;
    top: 100px;
    width: 230px;
    height: 300px;
}

.chef4 {
    background-color: skyblue;
    border-color: black;
    border-radius: 12px;
    border: 1px solid black;
    position: relative;
    top: 100px;
    width: 230px;
    height: 300px;
}

.profile {
    height: 370px;
    display: flex;
    justify-content: space-evenly;
}

.chef1:hover,
.chef2:hover,
.chef3:hover {
    transform: scale(1.1);
    transition-duration: 0.8s;
}

.chef-img {
    border-radius: 2000px;
    position: relative;
    left: 35px;
    top: 20px;
    border-style: solid;
    border-color: rgb(64, 70, 77);
}

.chef1 h2 {
    position: relative;
    top: 20px;
    text-align: center;
    font-size: 18px;
}

.chef2 h2 {
    position: relative;
    top: 20px;
    font-size: 18px;
    text-align: center;
}

.chef3 h2 {
    position: relative;
    top: 20px;
    font-size: 18px;
    text-align: center;
}

.chef4 h2 {
    position: relative;
    top: 20px;
    font-size: 18px;
    text-align: center;
}

.icons {
    color: black;
    position: relative;
    top: 35px;
    left: 70px;
    text-align: center;
    height: 30px;
    font-size: 20px;
    width: 80px;
}

.space {
    height: 40px;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: lightseagreen;
    background-position: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 470px;
}

.footer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 15px;
}

.social-media {
    display: flex;
    justify-content: center;
    color: white;
    flex-wrap: wrap;
}

.social-media a {
    margin: 20px;
    margin-top: 10px;
    background-color: white;
    color: black;
    font-size: 15px;
    padding: 8px;
    border-radius: 20px;
}

.social-media a:hover {
    background-color: black;
    color: yellow;
}

.footer2 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    flex-wrap: wrap;
}

.footer0 {
    font-weight: 300;
    transition-duration: 1s;
}

.footer0:hover {
    color: rgb(243, 168, 7);
}

.footer2 .heading {
    font-weight: 900;
    font-size: 18px;
}

.footer3 {
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    padding: 6px;
    border-radius: 18px;
}

.footer2 .heading:hover {
    color: rgb(243, 168, 7);
}

.footer2 .div:hover {
    transform: scale(1.05);
}

.footer3 h4 {
    margin: 0 10px;
}

.footer2 div {
    margin: 10px;
}

.menu {
    visibility: hidden;
}

.heading1 .ham:active {
    color: red;
}

.items {
    overflow: hidden;
}

.ham,
.close {
    cursor: pointer;
}

.footer0 h1 {
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

.heading {
    background-color: black;
    padding: 4px;
    border-radius: 18px;
    text-align: center;
    cursor: pointer;
}

.div {
    text-align: center;
    cursor: pointer;
}

.div:hover {
    color: rgb(243, 168, 7);
}